/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #191b36;
  --ifm-color-primary-dark: #17191c;
  --ifm-color-primary-darker:#16181c;
  --ifm-color-primary-darkest:#121419;
  --ifm-color-primary-light:#1d1f3f;
  --ifm-color-primary-lighter: ##262852;
  --ifm-color-primary-lightest: #2d2f63;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #20b2aa;
  --ifm-color-primary-dark: #1c968f;
  --ifm-color-primary-darker: #1a807a;
  --ifm-color-primary-darkest: #155f5b;
  --ifm-color-primary-light: #33c9c1;
  --ifm-color-primary-lighter: ##54e0d9;
  --ifm-color-primary-lightest: #75f5ee;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
